body {
    background-image: url(/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    /* opacity: .5; */

   
}

img {
    opacity: .3;
}

h1 {
    font-size: 100px;
}

h2 {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

* {
    font-family: 'Unica One', cursive;
}

th {
    font-size: 25px;
}

td {
    font-size: 20px;
}   

#camera {
    width: 500px;
}

