body {
    background-image: url(../../../Images/14854271976_516170b23f_o.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

container {
    opacity: .5;
}

* {
    font-family: 'Unica One', cursive;

}

th {
    font-size: 25px;
}

td {
    font-size: 20px;
}